<h1>Productos</h1>

<div class="product-container">
    {{#each products}}
    <div class="product-card">
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: {{this.stock}}</p>
       
    </div>
    {{/each}}
</div>

<div class="pagination">
    {{#if hasPrevPage}}
    <a href="{{prevLink}}">Anterior</a>
    {{/if}}

    <span>Página {{currentPage}} de {{totalPages}}</span>

    {{#if hasNextPage}}
    <a href="{{nextLink}}">Siguiente</a>
    {{/if}}
</div>
